<link rel="stylesheet" href="/teadao/public/css/carts.css">
<script src="/teadao/public/js/carts.js"></script>
<div class="personal" style="height:auto;padding: 50px 0 25px">
    <div class="personal-img">
        <img src="/teadao/public/img/gwc.png" alt=""  class="personal-img">
    </div>
</div>
<div class="carts">
    <div class="shopImg"><img src="" alt=""></div>
    <div class="shopText">
        <div class="shoptexts">
            <div class="left">
                <div class="shopname">
                    <span class="sname"></span>
                    <span class="senglish"></span>
                </div>
                <p class="shopdescription"></p>
                <div class="shopts">
                    <span>正品保障&nbsp七天无忧退换货</span>
                    <span>原装进口&nbsp假一赔十</span>
                </div>
            </div>
            <div class="rightBox">
                <div class="right">
                    <div class="rightImg">✔</div>
                    <div class="rightText">已成功加入购物车</div>
                </div>
                <div class="shoptoalBox">
                    <div class="shoptoal">小计：<span>0.00</span></div>
                    <div class="shopcarNum">购物车共有<span>0</span>件商品</div>
                </div>
            </div>
        </div>
        <div class="shopBtn">
            <button class="shopBack">商品详情</button>
            <button class="shopEnd">去购物车结算</button>
        </div>
    </div>
</div>
<!--新品推荐-->
<div class="personal" style="height:auto;padding: 50px 0 25px">
    <div class="personal-img" style="width: 285px;">
        <img src="/teadao/public/img/newshop.png" alt=""  class="personal-img">
    </div>
</div>
<ul class="newshopping"></ul>