<link rel="stylesheet" href="/teadao/public/css/footer.css">
<footer>
  <div class="footer-nav">
 	<ul  class="footer-li1">
 		<li>
 			<div>
 				<span class="iconfont icon-ziyuan" style="font-size: 30px;"></span>
 			</div>
 			<p>EMAIL/邮箱
 			745248129@QQ.COM
 			</p>
 		</li>
 		<li>
 			<div>
 				<span class="iconfont icon-antdicon06" style="font-size: 30px;"></span>

 			</div>
 			<p>PHONE/电话
 			15635022079
 			</p>
 		</li> 		<li>
 			<div>
 				<span class="iconfont icon-zuobiao-copy" style="font-size: 30px;"></span>

 			</div>
 			<p>ADDRESS/地址
 			SHANXI.TAIYUAN
 			</p>
 		</li>
 	</ul>
 	<ul class="footer-li2">
 		<li>十大服务体系保证服务质量</li>
 		<li>全国连锁售后无忧</li>
 		<li>用心做产品，欢迎选购</li>
 	</ul>
 	<div class="footer-li3">
 		<img src='/teadao/public/img/1513155650.png' alt="">
 		<span>扫二维码可获取优惠</span>
 	</div>
  </div>  
  <div class="dibu">
	  忻州农业产业联盟 &nbsp;&nbsp;&nbsp;&nbsp;<a href="/teadao/index.php/login/index">后台登录</a>
  </div>
</footer> 
</body>
</html>