
    <link rel="stylesheet" href="/teadao/public/css/fukuan.css">
    <script src="/teadao/public/js/fukuan.js"></script>
</head>
<body>
<!--头-->
<main>
    <div class="head">
        <div class="title">
            <img src="/teadao/public/img/fukuan.png" alt="">
        </div>
        <ul>
            <li>
                <div>
                    <div>壹</div>
                </div>
                <span>购物车</span>
            </li>
            <div class="xian"></div>
            <li>
                <div>
                    <div>贰</div>
                </div>
                <span>订单</span>
            </li>
            <div class="xian"></div>
            <li>
                <div>
                    <div>叁</div>
                </div>
                <span>付款</span>
            </li>
            <div class="xian"></div>
            <li>
                <div>
                    <div>肆</div>
                </div>
                <span>完成</span>
            </li>
        </ul>
    </div>
</main>
<!--中间-->
<section class="fukuan">
    <div class="shouhuotiao">在线付款</div>
    <div class="fk-1">
        <span><span class="quan"></span> 您的订单已成功生成，现在付款我们将为您发货</span>
    </div>
    <div class="fk-2">
        <ul>
            <li>
                <div>订单编号:</div>
                <span class="ddbh">1111111</span>
            </li>
            <li>
                <div>订单价格:</div>
                <span class="ddjg">00.00元</span>
            </li>
            <li>
                <div>支付方式:</div>
                <span>网上银行</span>
            </li>
            <li>
                <div>配送方式:</div>
                <span>全年无休</span>
            </li>
        </ul>
        <div class="daojishi">请您于 <span>23时59分59秒</Span> 内完成支付(否则订单将自动取消)</div>
    </div>
    <div class="fk-3">
        <span class="quan"></span>
        <span>点击银行前往支付</span>
        <ul class="fk-bank">
            <li class="active"><img src="/teadao/public/img/bank (1).png" alt=""></li>
            <li><img src="/teadao/public/img/bank (2).png" alt=""></li>
            <li><img src="/teadao/public/img/bank (3).png" alt=""></li>
            <li><img src="/teadao/public/img/bank (4).png" alt=""></li>
            <li><img src="/teadao/public/img/bank (5).png" alt=""></li>
            <li><img src="/teadao/public/img/bank (6).png" alt=""></li>
            <li><img src="/teadao/public/img/bank (7).png" alt=""></li>
            <li><img src="/teadao/public/img/bank (8).png" alt=""></li>
            <li><img src="/teadao/public/img/bank (9).png" alt=""></li>
            <li><img src="/teadao/public/img/bank (10).png" alt=""></li>
            <li><img src="/teadao/public/img/bank (11).png" alt=""></li>
            <li><img src="/teadao/public/img/bank (12).png" alt=""></li>
            <li><img src="/teadao/public/img/bank (13).png" alt=""></li>
            <li><img src="/teadao/public/img/bank (14).png" alt=""></li>
            <li><img src="/teadao/public/img/bank (15).png" alt=""></li>
        </ul>
    </div>
    <div class="fk-4">
        <span class="quan"></span>
        <span>点击第三方前往支付</span>
        <ul class="fk-zfb fk-bank">
            <li class="active"><img src="/teadao/public/img/zhifubao (1).png" alt=""></li>
            <li><img src="/teadao/public/img/zhifubao (2).png" alt=""></li>
            <li><img src="/teadao/public/img/zhifubao (3).png" alt=""></li>
            <li><img src="/teadao/public/img/zhifubao (4).png" alt=""></li>
            <li><img src="/teadao/public/img/zhifubao (5).png" alt=""></li>
            <li><img src="/teadao/public/img/zhifubao (6).png" alt=""></li>
        </ul>
    </div>
</section>
<div class="payall">
    <div class="totalnum">
        <div class="word">支付金额<br>人/名/比</div>
        <div class="num">00.00</div>
    </div>
    <div class="topay"><a id="addDD">立即支付</a></div>
</div>
