<meta charset="UTF-8">
<link rel="stylesheet" href="/teadao/public/css/gouwuche.css">
<script src="/teadao/public/js/gouwuche.js"></script>
<main>
    <div class="head">
        <div class="title">
            <img src="/teadao/public/img/gouwuche_03.png" alt="">
        </div>
        <ul>
            <li>
                <div>
                    <div>壹</div>
                </div>
                <span>购物车</span>
            </li>
            <div class="xian"></div>
            <li>
                <div>
                    <div>贰</div>
                </div>
                <span>订单</span>
            </li>
            <div class="xian"></div>
            <li>
                <div>
                    <div>叁</div>
                </div>
                <span>付款</span>
            </li>
            <div class="xian"></div>
            <li>
                <div>
                    <div>肆</div>
                </div>
                <span>完成</span>
            </li>
        </ul>
    </div>
    <div class="wrapper tealist">
        <ul class="scroll"></ul>
    </div>
    <div class="huanye">
        <div class="divbtn1">‹</div>
        <ul class="huanye-list">
            <li class="active"><div class="active">1</div></li>
        </ul>
        <div class="divbtn2">›</div>
    </div>
    <div class="zongjia">
        <div class="jia">
            <span>人/名/币</span>
            <span class="totalNum">00.00</span>
        </div>
        <div class="buynow"><a href="/teadao/index.php/home/gwctj">立即购买</a></div>
    </div>
    <!--新品推荐-->
    <div class="personal" style="height:auto;padding: 50px 0 25px">
        <div class="personal-img" style="width: 285px;">
            <img src="/teadao/public/img/newshop.png" alt=""  class="personal-img">
        </div>
    </div>
    <ul class="newshopping"></ul>
</main>