<link rel="stylesheet" href="/teadao/public/css/home.css">

<!--<script src="/teadao/public/js/jquery-3.2.1.js"></script>-->
<script src="/teadao/public/js/home.js"></script>
<main>
    <!--轮播-->
    <div id="myCarousel" class="carousel slide">
        <!-- 轮播（Carousel）指标 -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- 轮播（Carousel）项目 -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="/teadao/public/img/banner1.jpg"></div>
            <div class="item">
                <img src="/teadao/public/img/banner2.jpg">
            </div>
            <div class="item">
                <img src="/teadao/public/img/banner3.jpg">
            </div>
        </div>
        <!-- 轮播（Carousel）导航 -->
        <a class="carousel-control left" href="#myCarousel"
           data-slide="prev" style="font-size: 80px;text-align: center;line-height: 410px">&lsaquo;
        </a>
        <a class="carousel-control right" href="#myCarousel"
           data-slide="next" style="font-size: 80px;text-align: center;line-height: 410px">&rsaquo;
        </a>
    </div>
    <div class="kong"></div>
    <!--推荐-->
    <div class="fenlei">
        <img src="/teadao/public/img/272190fenlei.jpg" alt="">
    </div>
    <div class="kong"></div>

    <div class="tuijian">
        <ul></ul>
        <img src="/teadao/public/img/shao1_03.png" alt="">
    </div>
    <div class="kong"></div>
    <!--新品-->
    <div class="fenlei">
        <img src="/teadao/public/img/272190fenlei2.jpg" alt="">
    </div>
    <div class="kong"></div>
    <div class="xinpin">
        <div class="left"><img src="/teadao/public/img/xinpin_06.png" alt=""></div>
        <div class="center"><img src="/teadao/public/img/xinpin_05.png" alt=""></div>
        <div class="right">
            <img src="/teadao/public/img/xinpin_03.png" alt="">
            <div class="buybox"></div>
        </div>
        <div class="chaye">
            <span>TEA/FEEL THE TSTE OF NATURTEA</span>
            <span>忻农/感受自然的味道</span>
        </div>
        <div class="yezi"><img src="/teadao/public/img/yezi_03.png" alt=""></div>
    </div>
    <div class="kong"></div>
    <!--贴心服务-->
    <div class="fenlei">
        <img src="/teadao/public/img/272190fenlei3.jpg" alt="">
    </div>
    <div class="kong"></div>
    <div class="fuwu">
        <ul class="fuwubtn">
            <li class="active">
                <div class="active">壹</div>
            </li>
            <li>
                <div>贰</div>
            </li>
            <li>
                <div>叁</div>
            </li>
            <li>
                <div>肆</div>
            </li>
            <li>
                <div>伍</div>
            </li>
        </ul>
        <ul class="fuwulist">
            <li>
                <div class="fwhead">
                    <ul>
                        <li>至上茶品&nbsp&nbsp&nbsp&nbsp喧嚣中一品香茗&nbsp&nbsp&nbsp&nbsp畅享悠然</li>
                    </ul>
                </div>
                <div class="xian">
                    <div class="yuan"></div>
                </div>
                <p>
                    我做的茶叶在我们福鼎还算小有名气，央视记者和福建电视台也都有来我家进行采访。目前我正在积 <br> 极申请福鼎白茶传统技艺非物质文化遗产传承人。我常常教育下一代：我们做的不是茶叶，是艺术品，只有追求匠心精神，不去计较效率和付出，才能做出好的福鼎白茶。
                </p>
                <p>
                    The tea I made was very famous in our Fuding, and the CCTV and Fujian TV stations had <br> come to my home for an interview. At present, I am actively applying for the heritage of the non material cultural heritage of Fuding white tea. I used to educate the next generation: we do not tea, is art, only the pursuit of originality spirit,<br> do not care about the efficiency and pay, in order to make a good Fuding white tea.
                </p>
                <div class="kong"></div>
                <div class="tu"><img src="/teadao/public/img/280180fuwutu.jpg" alt=""></div>
            </li>
            <li>
                <div class="fwhead">
                    <ul>
                        <li>喧嚣中一品香茗&nbsp&nbsp&nbsp&nbsp至上茶品&nbsp&nbsp&nbsp&nbsp畅享悠然</li>
                    </ul>
                </div>
                <div class="xian">
                    <div class="yuan"></div>
                </div>
                <p>
                    我做的茶叶在我们福鼎还算小有名气，央视记者和福建电视台也都有来我家进行采访。目前我正在积 <br> 极申请福鼎白茶传统技艺非物质文化遗产传承人。我常常教育下一代：我们做的不是茶叶，是艺术品，只有追求匠心精神，不去计较效率和付出，才能做出好的福鼎白茶。
                </p>
                <p>
                    The tea I made was very famous in our Fuding, and the CCTV and Fujian TV stations had <br> come to my home for an interview. At present, I am actively applying for the heritage of the non material cultural heritage of Fuding white tea. I used to educate the next generation: we do not tea, is art, only the pursuit of originality spirit,<br> do not care about the efficiency and pay, in order to make a good Fuding white tea.
                </p>
                <div class="kong"></div>
                <div class="tu"><img src="/teadao/public/img/280180fuwutu.jpg" alt=""></div>
            </li>
            <li>
                <div class="fwhead">
                    <ul>
                        <li>至上茶品&nbsp&nbsp&nbsp&nbsp畅享悠然&nbsp&nbsp&nbsp&nbsp喧嚣中一品香茗</li>
                    </ul>
                </div>
                <div class="xian">
                    <div class="yuan"></div>
                </div>
                <p>
                    我做的茶叶在我们福鼎还算小有名气，央视记者和福建电视台也都有来我家进行采访。目前我正在积 <br> 极申请福鼎白茶传统技艺非物质文化遗产传承人。我常常教育下一代：我们做的不是茶叶，是艺术品，只有追求匠心精神，不去计较效率和付出，才能做出好的福鼎白茶。
                </p>
                <p>
                    The tea I made was very famous in our Fuding, and the CCTV and Fujian TV stations had <br> come to my home for an interview. At present, I am actively applying for the heritage of the non material cultural heritage of Fuding white tea. I used to educate the next generation: we do not tea, is art, only the pursuit of originality spirit,<br> do not care about the efficiency and pay, in order to make a good Fuding white tea.
                </p>
                <div class="kong"></div>
                <div class="tu"><img src="/teadao/public/img/280180fuwutu.jpg" alt=""></div>
            </li>
            <li>
                <div class="fwhead">
                    <ul>
                        <li>至上茶品&nbsp&nbsp&nbsp&nbsp喧嚣中一品香茗&nbsp&nbsp&nbsp&nbsp畅享悠然</li>
                    </ul>
                </div>
                <div class="xian">
                    <div class="yuan"></div>
                </div>
                <p>
                    我做的茶叶在我们福鼎还算小有名气，央视记者和福建电视台也都有来我家进行采访。目前我正在积 <br> 极申请福鼎白茶传统技艺非物质文化遗产传承人。我常常教育下一代：我们做的不是茶叶，是艺术品，只有追求匠心精神，不去计较效率和付出，才能做出好的福鼎白茶。
                </p>
                <p>
                    The tea I made was very famous in our Fuding, and the CCTV and Fujian TV stations had <br> come to my home for an interview. At present, I am actively applying for the heritage of the non material cultural heritage of Fuding white tea. I used to educate the next generation: we do not tea, is art, only the pursuit of originality spirit,<br> do not care about the efficiency and pay, in order to make a good Fuding white tea.
                </p>
                <div class="kong"></div>
                <div class="tu"><img src="/teadao/public/img/280180fuwutu.jpg" alt=""></div>
            </li>
            <li>
                <div class="fwhead">
                    <ul>
                        <li>至上茶品&nbsp&nbsp&nbsp&nbsp喧嚣中一品香茗&nbsp&nbsp&nbsp&nbsp畅享悠然</li>
                    </ul>
                </div>
                <div class="xian">
                    <div class="yuan"></div>
                </div>
                <p>
                    我做的茶叶在我们福鼎还算小有名气，央视记者和福建电视台也都有来我家进行采访。目前我正在积 <br> 极申请福鼎白茶传统技艺非物质文化遗产传承人。我常常教育下一代：我们做的不是茶叶，是艺术品，只有追求匠心精神，不去计较效率和付出，才能做出好的福鼎白茶。
                </p>
                <p>
                    The tea I made was very famous in our Fuding, and the CCTV and Fujian TV stations had <br> come to my home for an interview. At present, I am actively applying for the heritage of the non material cultural heritage of Fuding white tea. I used to educate the next generation: we do not tea, is art, only the pursuit of originality spirit,<br> do not care about the efficiency and pay, in order to make a good Fuding white tea.
                </p>
                <div class="kong"></div>
                <div class="tu"><img src="/teadao/public/img/280180fuwutu.jpg" alt=""></div>
            </li>
        </ul>
    </div>
</main>