<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        section.main{
            width: 100%;
            height: 600px;
        }
        section.main>.contentM{
            width: 700px;
            height: 100%;
            margin: 0 auto;
            box-sizing: border-box;
            padding: 20px 30px;
            border:1px solid black;
        }
        section.main>.contentM>h3{
            text-align: center;

        }
        section.main>.contentM>p{
            line-height: 38px;
        }
    </style>
</head>
<body>
    <section class="main">
        <div class="contentM">
            <h3>关于忻州农业产业联盟</h3>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;产业联盟（Industry Alliance）是指出于确保合作各方的市场优势，寻求新的规模、
                标准、机能或定位，应对共同的竞争者或将业务推向新领域等目的，企业间结成的互相协作
                和资源整合的一种合作模式。联盟成员可以限于某一行业内的企业或是同一产业链各个组成部分
                的跨行业企业。联盟成员间一般没有资本关联，各企业地位平等，独立运作。
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;忻州农业产业联盟是一个由积极投身忻州农业的事业，
                为忻州市以及忻州周围地区提供农业支撑服务。联盟成立于2018年3月，目前已有农户成员108余家。忻州农业产业联盟
                英文名称：Xinzhou Agricultural Industry Alliance，简称XAIA。
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;联盟的宗旨是以国家产业政策为指导，以市场为导向，以农户为主体，
                搭建产、学、研、用的平台，提升联盟成员对农业的知识水平，
                完善忻州农业产业链，促进忻州农业产业的健康发展，不断增强忻州农业产业的竞争力。
            </p>
        </div>
    </section>
</body>
</html>